window {
  margin: 0px;
  border: 1px solid #1793d1;
  background-color: #282a36;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: #44475a;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}


#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#entry {
  background-color: #44475a;
}

#entry:selected {
  background-color: #1793d1;
}
